.window {
    margin-top: 20vh;
}

/* .spacerTop {
    aspect-ratio: 960/100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../public/Spacers/literatureSpacerTop.svg");
} */

.content {
    /* background-color: #010B2E; */
    background: rgb(84,17,17);
    background: radial-gradient(circle, rgba(84,17,17,1) 17%, rgba(113,37,37,1) 56%, rgba(126,45,45,1) 79%, rgba(171,75,75,1) 100%);
    height: fit-content;
    flex-direction: column;
    display: flex;
    min-height: 560px;
    padding-top: 60px;
}

.contentMobile {
    background-color: #010B2E;
    height: fit-content;
    flex-direction: column;
    display: flex;
    min-height: 760px;
}

.topRow {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 60px;

}

.poetDev {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 50%;
}

.poetName {
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 600;
}