.window {
    margin-top: 20vh;
}

.spacerTop {
    aspect-ratio: 960/100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../public/Spacers/literatureSpacerTop.svg");
}

.content {
    background-color: #010B2E;
    height: fit-content;
    flex-direction: column;
    display: flex;
    min-height: 560px;
}

.contentMobile {
    background-color: #010B2E;
    height: fit-content;
    flex-direction: column;
    display: flex;
    min-height: 760px;
}

.topRow {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.poetDev {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 50%;
}

.poetName {
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 600;
}