.window {
    padding-right: 15px;
    margin-left: 200px;
}

.windowMobile {
    padding-right: 15px;
    padding-left: 15px;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.header {
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 26px;

    color: #FFFFFF;
}

.date {
    font-weight: 400;
    font-size: 18px;
    margin-top: -15px;
    color: #CFCFCF;
}

.text {
    width: 599px;
    height: fit-content;

    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #FFFFFF;
}

.textMobile {
    height: fit-content;

    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    color: #FFFFFF;
}

.author {
    font-weight: 400;
    font-size: 20px;
    margin-top: -20px;
    color: #CFCFCF;
}