.window {
    height: min-content;
    color: #fff;
    width: 100%;
    overflow: hidden;
    margin-top: 30vh;
}

.spacer {
    aspect-ratio: 960/100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layerBlue {
    background-image: url("../../public/Spacers/layered-waves-haikei1.svg");
}

.content {
    background-color: #012038;
    display: flex;

    height: 200px;
    justify-content: space-between;
}

.hambornDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 12px;
}

.hiddenButton {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-top: auto;
    opacity: 0;
}

.rocket {
    display: inline-block;
}

.animatedRocket {
    position: absolute;
    margin-left: 50%;
    animation-duration: 5s;
    animation-name: animate-rocket;
}

@keyframes animate-rocket {
    0% {
        transform: scale(1) rotate(10deg);
    }
    5%{
        transform: scale(1.25) rotate(-15deg);
    }
    10%{
        transform: scale(1.5) rotate(5deg);
    }
    15%{
        transform: scale(1.75) rotate(-10deg);
    }
    20% {
        transform: scale(2) rotate(0);
    }
    100% {
        transform: scale(20) translate3d(100vw, -100vh, 0) rotate(0);
    }
}