.window {
    height: 50px;
    background-color: rgba(29,29,31,0.92);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding-left: 20px;

    justify-content: space-between;
    border-bottom: rgb(0, 0, 0) solid 2px;
}

.logo {
    font-size: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}