.window {
    display: flex;
    flex-direction: column;
    width: clamp(50%, 820px, 90%);
    margin-left: auto;
    margin-right: auto;

    margin-top: 140px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.artikelName{
    font-weight: 800;
    font-size: 40px;

    color: #000000;
}

.autherName {
    font-weight: 800;
    font-size: 32px;

    color: #C8C8C8;
    
}

.artikel {
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    max-height: 30vh;
    margin-top: 34px;

    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}